<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <style>
        body{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .card{
            border: 2px solid red;
            display: flex;
            padding: 100px 50px 100px 50px;
            margin: 40px;
            
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <form action="">
            <ul>
                <li>User Name<input type="text"></li>
                <li>Password<input type="text"></li>
            </ul>
            </form>
        </div>
    </div>

</body>
</html>